block content
  script(src="/js/HighCharts_custom.js")

  #clusterPieChart(style="height:300px;padding-top:0px;")
    
  script.
    /**
     * Holy cow what an awful hack.
     * @param  {[type]} arr   [description]
     * @param  {[type]} field [description]
     * @return {[type]}       [description]
     */
    
    function restructureJSON(arr, field){
      var drilldown = {};
      var fields = {};
      $.map(arr,function(item){
        item.y=item.work+1;
        item.sliced=true
        //- item.sliced =true
        if(item[field] in fields){
          fields[item[field]].y+=1
        }
        else{
          fields[item[field]] = {}
          fields[item[field]].name = item.ip
          fields[item[field]].sliced = false
          fields[item[field]].y = item.y
          fields[item[field]].drilldown = item[field] 
        }

        if(item[field] in drilldown){
          drilldown[item[field]].data.push(item)
        }
        else{

          drilldown[item[field]] = {}
          drilldown[item[field]].name = item.ip
          drilldown[item[field]].sliced = true
          drilldown[item[field]].title = item.ip
          drilldown[item[field]].id = item.ip
          drilldown[item[field]].data = [item]
        }
      })
      var drill = [];
      $.map(drilldown, function(dri){
        drill.push(dri)

      })
      var flds = [];
      $.map(fields, function(fld){
        flds.push(fld)
      })
      return { drilldown:drill,fields:flds };
    }


    (function (io) {
    
      var socket = io.connect();



      /**
       * Gets some amount of the signals from the model
       * for display now, and bsubscribe to them.
       * Intended to be customized, kinda.
       * @param  {String}   model name
       * @return null
       */
      
      socket.get( "/"+"zode"+"/find", 
        {sort:"date DESC", limit:50}, function(items){

        var zodes = restructureJSON(items,"ip")
         

        $.map(zodes.drilldown, function(zode,key){

          //- $("#clusterFrames").append(
          //-   $("<div/>", {
          //-     id:zode.id,
          //-     class:"col-md-4 well-sm",
          //-     text:zode.name,
          //-   })
          //- )


        })


        console.log(zodes)

        // Create the chart
        $('#clusterPieChart').highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: ''
            },
            credits: {
              enabled: false
            },
            xAxis: {
                type: 'category',
                labels: {
                  rotation: 0,
            }
            },

            legend: {
                enabled: false
            },

            plotOptions: {
                series: {
                    borderWidth: 0,
                    innerSize: '60%',
                    dataLabels: {
                        enabled: true
                    }
                },

             pie: {
                dataLabels: {
                    enabled: true,
                    style: {
                    }
                },
                startAngle: -45,
                endAngle: 315,
                center: ['50%', '50%']
            }

            },

            series: [{
                //- colorByPoint: true,
                data:zodes.fields,
                innerSize: '90%',
                type: 'pie' 
            }],
            drilldown: {
                series: zodes.drilldown
            }
        });


        })






      /**
       * Binds the DOM broadcast domain to the Model.
       * @param  {String} The name of the desired model
       */
      

      //- $('#geolocationChart').highcharts({
      //-     legend:{enabled:false},
      //-     chart: {
      //-         type: 'spline',
      //-         backgroundColor:"rgba(255,255,255,0)",
      //-     },
      //-     title:{text:"Geolocation requests over time"},

      //-     credits: {
      //-         enabled: false
      //-     },
      //-     xAxis: {
      //-       type: 'datetime',
      //-       title: {
      //-           text: 'Date'
      //-       }
      //-     },
      //-     plotOptions: {
      //-       series: {
      //-         marker: {
      //-           enabled: false
      //-         }
      //-       }
      //-     },
      //- });


      //- $('#imageChart').highcharts({
      //-     legend:{enabled:false},
      //-     chart: {
      //-         type: 'pie',
      //-         backgroundColor:"rgba(0,0,0,0)",
      //-     },
      //-     title:{text:"Image Processing requests over time"},

      //-     credits: {
      //-         enabled: false
      //-     },
      //-     xAxis: {
      //-       type: 'datetime',

      //-       title: {
      //-           text: 'Date'
      //-       }
      //-     },
      //-     plotOptions: {
      //-       series: {
      //-         marker: {
      //-           enabled: false
      //-         }
      //-       }
      //-     },
      //- });



      







      //- $('#clusterPieChart').highcharts({
      //-     legend:{enabled:false},
      //-     chart: {
      //-         type: 'pie',
      //-         backgroundColor:"rgba(0,0,0,0)",
      //-     },
      //-     title:{text:"Cluster"},
      //-     credits: {
      //-         enabled: false
      //-     },
      //-     xAxis: {
      //-       type: 'category',
      //-       labels: {
      //-           rotation: 0,
      //-           style: {
      //-               fontSize: '11px',
      //-               fontFamily: 'Verdana, sans-serif'
      //-           }
      //-       }
      //-     },
      //-     plotOptions: {
      //-       series: {
      //-         type: 'pie',
      //-         name:"Cluster concepts",
      //-         innerSize: '80%',
      //-         marker: {
      //-           enabled: false
      //-         }
      //-       }
      //-     },
      //- });





    })(window.io);





