.navbar.navbar-static-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        fa.fa.fa-fw.fa-caret-down
      a(href='/')
        .navbar-brand.brand-color Zooid
      
    .navbar-collapse.collapse.scootRight

      ul#myTab.nav.navbar-nav.navbar-left(role='navigation', style="margin-bottom:-1px;")
        include nav_tabs

      ul.nav.navbar-nav.navbar-right(style="margin-right:8px;")
        li
          a(href="#").test_signal
            .fa.fa-fw.fa-lg.fa-github
            small fork

        li
          a(href="#").test_signal
            .fa.fa-fw.fa-lg.fa-question
            small help

      form.navbar-form.getURL(role='search').navbar-left
        .form-group
          input.form-control.input-sm(type='text', name="" placeholder='Search by noun or ID')
          .submitURL.btn
            o.fa.ion-ios7-search-strong.fa-lg.text-muted


//- div(style="margin-bottom:62px!important;")


