li.active
  a(href='#welcomeTab', data-toggle='tab')
    oo About
li.active
  a(href='#docsTab', data-toggle='tab')
    oo Docs
li
  a(href='#signalsTab', data-toggle='tab')
    oo Signals
li
  a(href='#connectionsTab', data-toggle='tab')
    oo Associations
li
  a(href='#systemTab', data-toggle='tab')
    oo Cluster
