ul#myTab.nav.navbar-nav.navbar-left(role='navigation')
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown').scootRight
      b   
      o  Control
      b.caret
      ul.dropdown-menu(role='menu',style="min-width:220px;").scootRight
        include sidebar

