block content
	form.panel.well-sm(role='form', style="width:260px;background:rgba(255,255,255,0.9);")
		input.form-control(type='email', placeholder='Username').col-sm-6
		
		input.form-control(type='password', placeholder='Password')
		
		a.btn.btn-sm.btn-link
			.fa.fa-lock.fa-fw
			o Sign in


