@import url("http://fonts.googleapis.com/css?family=Hind:400,300,500,600,700' rel='stylesheet' type='text/css'");
@import url("http://fonts.googleapis.com/css?family=PT+Sans|Reenie+Beanie");
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,200");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800' rel='stylesheet' type='text/css'");

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color:rgba(222,222,222,0.222);
}
svg{
  /*font-family: 'Reenie Beanie', sans-serif;*/
  background-color:rgba(25,235,255,0.04);
  width:100%!important;
  height:100%!important;
}

.nav-pills li a{
  padding:5px;
  color:#666;
  padding-top:6px;
  padding-left:6px;
}
.nav-pills li a:hover{
  color:#800;
  background-color: #e7e7e7;
}

.nav-pills li.active a{
  background-color:#00619B!important;
  color:white!important;
}


.nav-stacked-sm li a{
  padding:3px;
  padding-left:12px;

}

.navbar{
  letter-spacing: 0.6px;
  font-weight:200;
  font-family: 'Helvetica Neue', Helvetica, Times New Roman, times-roman, georgia, serif;
  border-bottom:1px solid #e7e7e7!important;
}

.navbar-brand{
  font-family: 'Open Sans', times, Times New Roman, times-roman, georgia, serif;
  color:#314!important;
  font-weight:600;
  /*text-shadow:1px -1px 2px #!important;*/
  /*background: -webkit-linear-gradient(#00619B, #08344E);*/
  background: -webkit-linear-gradient(#119AE7,#002147);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-brand:hover{
  color:#314!important;
  background: -webkit-linear-gradient(#00619B, #119AE7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand * {
  margin-top:4px;
}
.navbar-form *{
  margin-top:1px;
}

.brand h11 {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;
  color:#314!important;
  font-size:24px;
  font-weight:100;
  /*text-shadow:1px -1px 2px #!important;*/
  background: -webkit-linear-gradient(#00619B, #08344E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.brand .huge {
  color:#314!important;
  font-size:51px;
  font-weight:300;  
  letter-spacing: -2px;
  background: -webkit-linear-gradient(#00619B, #08344E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.docs h1 {
  color:#314!important;
  font-size:48;
  font-weight:200;  
  letter-spacing: -1px;
  background: -webkit-linear-gradient(#00619B, #08344E);
  line-height: 63px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom:1px solid #ddd;
}

.docs h2 {
  color:#314!important;
  font-size:22px;
  font-weight:500;  
  letter-spacing: 0px;
  line-height: 24px;
  background: -webkit-linear-gradient(#00619B, #08344E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.docs h3 {
  color:#314!important;
  font-size:13px;
  font-weight:600;  
  line-height: 16px;
  background: -webkit-linear-gradient(#08344E, #00619B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.brand .big {
  color:#314!important;
  font-size:42px;
  font-weight:300;
  letter-spacing: 0px;
  background: -webkit-linear-gradient(#00619B, #08344E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.brand .h12 {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;
  color:#88888b!important;
  font-size:34px;
  font-weight:300;
  /*text-shadow:1px -1px 2px #!important;*/


}

.brand .title {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;
  color:#224!important;
  font-size:38px;
  font-weight:100!important;
  text-shadow:1px -1px 2px #ffffff!important;


}

.brand a {
  color:#314!important;
  font-size:16px;
  /*text-shadow:1px -1px 2px #!important;*/
  background: none;

}


.navbar-nav li a{
  color:#666666;
}

.darkBlue{
  background-color:#00619B!important;
  color:white;
}
.lightBlue{
  background-color:#08344E!important;
  color:white;
}

.lightRed{
  color:white;
  background-color: #BF331D;
}



.navbar-nav li.active a{
  background-color:#f2f2f2;
  color:#002!important;
}


.navbar-inverse {
  background-color: #ffffff;
  border-color: #3f82c7;
}
.navbar-inverse .navbar-brand {
  color: #6392a7;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #83a2d7;
}
.navbar-inverse .navbar-text {
  color: #6392a7;
}
.navbar-inverse .navbar-nav > li > a {
  color: #6392a7;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #83a2d7;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #64329f;
  background-color: #fefefe;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #64329f;
  background-color: #fefefe;
}
.navbar-inverse .navbar-toggle {
  border-color: #fefefe;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #fefefe;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fefefe;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #6392a7;
}
.navbar-inverse .navbar-link {
  color: #6392a7;
}
.navbar-inverse .navbar-link:hover {
  color: #64329f;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #6392a7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eaf2ff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eaf2ff;
    background-color: #3f82c7;
  }
}




.lead{
  font-family: 'Neue Helvetica', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}

.button{
  cursor:pointer;
}

scootRight, .scootRight{
  margin-left:12px;
}
.scootRightLess{
  margin-left:4px;

}
scootLeft, .scootLeft{
  margin-right:12px;
}

a.vr{
  border-right:1px solid #eee;
  padding:1px;
}

.signal_HEAD {
  display:block;
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
  margin-bottom:2px;

}

.signal img{
  -webkit-transition:all 0.2s ease; /* For Safari 3.1 to 6.0 */
  transition: all 0.2s ease;
  border:1px solid #fff;
  width:32px;
  height:auto;
}

.zood {
  width:33px!important;
  height:auto;
}
.signal_HEAD img{
  display:inline-block;


}

.signal{

/*   -webkit-filter: blur(0px)!important;
  -moz-filter: blur(0px)!important;
  -o-filter: blur(0px)!important;
  -ms-filter: blur(0px)!important;
  filter: blur(0px)!important;*/

}


.bigSignal{
  width:100%!important;
  height:auto!important;  
}

hr{
  border-color:#ccc;
}

.sigStack{
  margin-left:16px;
  border-left:1px solid rgba(0,0,0,0.2);
  display:inline;
}
.sigStack .sigStack{
  display:block;
}
.sigStack .sigStack *{
  display:inline;
}



.sigStack .sigStack .sigStack img {

  max-width:42%;


}





.panel, .btn, input, .well, .navbar, ul.nav-pills *, .nav-pills li.active, .active {
  -moz-border-radius: 0px 0px 0px 0px!important;
  -webkit-border-radius: 0px 0px 0px 0px!important;
}


