extends ../layout
block body
  include ../control/nav
  script(src="/js/dropzone.js")

  
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4#myModalLabel.modal-title Drag files to upload, or click
        .modal-body

          .dropzone#dropzone
            form(action="/signal/download")
              .fallback
                input(type="file", name="file")
              hr
          .hide
            .dz-preview.dz-file-preview
              .dz-details
                .dz-filename
                  span(data-dz-name='')
                .dz-size(data-dz-size='')
                img(data-dz-thumbnail='')
              .dz-progress
                span.dz-upload(data-dz-uploadprogress='')
              .dz-success-mark
                span.fa.fa-fw.fa-check
              .dz-error-mark
                span.fa.fa-fw.fa-times
              .dz-error-message
                span(data-dz-errormessage='')

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes


    #previews





    script.
      $(document).ready(function() {

          $("#dropzone").dropzone({ url: "/signal/upload" });

          //- var dropbox = document.getElementById('dropzone');

          //- dropbox.addEventListener('dragenter', noopHandler, false);
          //- dropbox.addEventListener('dragexit', noopHandler, false);
          //- dropbox.addEventListener('dragover', noopHandler, false);
          //- dropbox.addEventListener('drop', drop, false);

          //- function noopHandler(evt) {
          //-     evt.stopPropagation();
          //-     evt.preventDefault();
          //- }

          //- function drop(evt) {
          //-     evt.stopPropagation();
          //-     evt.preventDefault(); 
          //-     var getURL = evt.dataTransfer.getData('Url');
              
          //-     if(getURL) {
          //-       socket.post("/signal/getURL", {getURL:getURL} , function(a,b){
          //-         console.log(getURL,a,b)
          //-       })
          //-     }
          //- }
      })
