.navbar.navbar-fixed-top.navbar-default(role='navigation', style="padding-top:4px;padding-bottom:4px;")
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        fa.fa.fa-fw.fa-caret-down
      a(href='/').navbar-brand
        o zooid
    .navbar-collapse.collapse.scootRight 
      ul.nav.navbar-nav.navbar-left
        li
          a(href="/cbir") cbir

        li
          a(type='button', data-toggle='modal', data-target='#myModal')
            oo.fa.fa-cloud-upload    

        //- li
          a(href="/tbg") tbg

      ul.nav.navbar-nav.navbar-right(style="margin-right:0px;")
        //- li
          form.navbar-form.getURL(role='search').scootRight
            .form-group.scootRight
              input.form-control(type='text', name="" placeholder='Search')
              .submitURL.btn
                o.fa.ion-ios7-search-strong.fa-lg.text-muted
        include nav_tabs
div(style="margin-bottom:38px!important;")
