head
	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/socket.io.js")
	script(type="text/javascript" src="js/sails.io.js")
	script(type="text/javascript" src="js/app.js")
	script(type="text/javascript" src="styles/js/bootstrap.min.js")
	link(href="styles/css/bootstrap-slate.min.css" rel="stylesheet")
	link(href="styles/css/orc.css" rel="stylesheet")
body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				include nav
				.inner.cover
					block body
					#signal_container
				.mastfoot
					.inner
						p 
							| Have a look inside  
							a(href="https://github.com/benbaker/balls") Zooid
							|!
