extends container
block body
  script.
      $('.nav > li').removeClass('active');
      $('#nav-home').addClass('active');

  head
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')

  body

    //- .col-lg-12
       .panel.panel-default
          .panel-body
            include bibble



    .col-sm-12#fileUpload
      .panel.well.well-sm.animated.bounceInUp
        .panel-body
            a.btn.btn-default.btn-sm.fileinput-button.dz-clickable   
              fa.fa.fa-fw.fa-cloud-upload
              oo Upload something
            a.newSignalButton.btn.btn-default.btn-sm
              fa.fa.fa-fw.fa-file
              oo Create a new signal

            form(action='/file-upload')
                .fallback
                  .dropzone
                    input(name='file', type='file', multiple='multiple')

      #previews
        #template.animated.bounceInDown(style="border-bottom:1px solid #eee;").col-sm-4
          .row
            img(data-dz-thumbnail='data-dz-thumbnail', data-dz-remove='data-dz-remove').thumbnail.img-responsive.col-sm-3
            .well-sm.col-sm-9.text-right
              .btn.btn-sm.text-muted.delete(data-dz-remove='data-dz-remove').btn-link
                fa.fa.fa-fw.fa-times
                //- i.glyphicon.glyphicon-trash.text-muted
              #total-progress.animated.bounceInDown
              .progress(style="height:8px;", role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
                .progress-bar.progress-bar-default(style='width: 0%;', data-dz-uploadprogress='data-dz-uploadprogress')
              
              div(style="display:none!important;")
                button.btn.btn-primary.start.hide
                  i.glyphicon.glyphicon-upload
                  span Start
                button.btn.btn-warning.cancel(data-dz-remove='data-dz-remove').hide
                  i.glyphicon.glyphicon-ban-circle
                  span Cancel

      br
        
      script.
        $(document).ready(function() {
          $(".newSignalForm").hide()
          $(".newSignalButton").on("click", function(){
            $(".newSignalForm").toggle("fast")
          })
        })

      .newSignalForm.animated.bounceInUp
        .panel.panel-default
          .panel-body

            form(action="signal/upload").form-horizontal
              fieldset
                legend 
                .control-group
                  label.control-label(for='a') Name
                  .controls
                    input.form-control#a.input-sm(name='name', placeholder='name', value="UI TEST" type='text')
                  label.control-label(for='b') Service
                  .controls
                    input.form-control#a.input-sm(name='service', placeholder='service', value="IMAGE" type='text')
                  label.control-label(for='b') Type
                  .controls
                    input.form-control#b.input-sm(name='type', placeholder='Type', value="HEAD" type='text')
                  label.control-label(for='b') Location
                  .controls
                    input.form-control#b.input-sm(name='location', placeholder='location', value="/cgi/home/bakerbp/zooid/web/.tmp/public/files/" type='text')
                  label.control-label(for='b') filename
                  .controls
                    input.form-control#b.input-sm(name='filename', placeholder='filename', value="diverse.jpg" type='text')
                  label.control-label(for='b') Data
                  .controls
                    input.form-control#b.input-sm(name='data', placeholder='data', value="data" type='text')

            a.btn.btn-sm.btn-primary.btn-block.createSignal Create

    .col-sm-12.animated.bounceInUp
      #signal_container(data-template='auto')

    .col-lg-12
      hr
      infoTarget
    
          //- .col-lg-12.hide
          //-   pre.panel(style="height:600px;")
          //-     include dependencies

          //- .col-lg-12.panel
