block content
  link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700', rel='stylesheet', type='text/css')
  .navbar.navbar-inverse.navbar-static-top(role='navigation', style="border-bottom:1px solid #222;")
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/', style="color:#8ec2d1;") zooid
    .collapse.navbar-collapse
      ul.nav.navbar-nav

        //- li#nav-home
           a.btn-default(href="/") Home
        //- li#nav-bibble
           a.btn-default(href="/bibble") Bibble
      
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") f u Joe
        li
           a(href='https://github.com/IronSummitMedia/startbootstrap')
             i.fa.fa-github.fa-fw.fa-2x
             span.network-name

// #0f44fb

// #3c84fb

// #8ec2d1