block content
   link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700', rel='stylesheet', type='text/css')
  nav.navbar.navbar-(role='navigation', style="border-bottom:1px solid #ddd;")
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-text(href='/', style="font-family: 'Droid Serif', serif;color:#222326;font-size:18px;font-weight:700;") zooid
    .collapse.navbar-collapse
      ul.nav.navbar-nav

        //- li#nav-home
           a.btn-default(href="/") Home
        //- li#nav-bibble
           a.btn-default(href="/bibble") Bibble
      
      ul.nav.navbar-nav.navbar-right

        li
           a.btn-default(href='https://github.com/IronSummitMedia/startbootstrap')
             i.fa.fa-github.fa-fw.fa-2x
             span.network-name
