#d3_container
head
   script(type="text/javascript" src="js/jquery.js")
   script(type="text/javascript" src="js/socket.io.js")
   script(type="text/javascript" src="js/sails.io.js")
   script(type="text/javascript" src="js/d3.js")
   script(type="text/javascript" src="styles/js/bootstrap.min.js")
   script(type="text/javascript" src="js/app.js")
   link(href="styles/css/bootstrap.min.css" rel="stylesheet")
   link(href="styles/css/zooid.css" rel="stylesheet")
   link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css")

body
   .container-fluid
      br
      br
      br
      include dependencies


   #signal_container

