#d3_container
head
   script(type="text/javascript" src="js/jquery.js")
   script(type="text/javascript" src="js/socket.io.js")
   script(type="text/javascript" src="js/sails.io.js")
   script(type="text/javascript" src="js/d3.js")
   script(type="text/javascript" src="styles/js/bootstrap.min.js")
   script(type="text/javascript" src="js/app.js")
   link(href="styles/css/bootstrap.min.css" rel="stylesheet")
   link(href="styles/css/zooid.css" rel="stylesheet")
   link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css")

body
   .container-fluid
      br
      br
      br
      include dependencies


   .container-fluid


     .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
       .container-fluid
         .navbar-header
               button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                 span.sr-only Toggle navigation
                 span.icon-bar
                 span.icon-bar
                 span.icon-bar
               a.navbar-brand(href='/', style="font-size:20px;") zooid
         .navbar-collapse.collapse
              ul.nav.navbar-nav
                 li.dropdown.active
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                       | Tests
                       b.caret
                    ul.dropdown-menu
                       li.divider
                       li.dropdown-header Nav header
                       li
                          a(href='#') Separated link
                       li
              ul.nav.navbar-nav.navbar-right

                 li.active
                        a(href="https://github.com/benbaker/zooid").fa.fa-github-alt.fa-lg
     br
     hr
     #signal_container

