head

  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes')

  script(type="text/javascript" src="/js/jquery.js")
  //- script(type="text/javascript" src="/js/jquery_ui.js")
  script(type="text/javascript" src="/js/dropzone.js")
  script(type="text/javascript" src="/js/HighCharts.js")
  //- script(type="text/javascript" src="/js/jmpress.js")
  script(type="text/javascript" src="/js/buttons.js")
  script(type="text/javascript" src="/js/socket.io.js")
  script(type="text/javascript" src="/js/sails.io.js")
  //- script(type="text/javascript" src="/js/isotope.js")
  //- script(type="text/javascript" src="/js/Chart.min.js")
  script(type="text/javascript" src="/styles/js/bootstrap.min.js")
  //- script(type="text/javascript" src="/js/sidr.js")
  script(type="text/javascript" src="/js/vivagraph.js")
  script(type="text/javascript" src="/js/vis.js")
  script(type="text/javascript" src="/js/app.js")
  //- script(type="text/javascript" src="/js/springy.js")
  //- script(type="text/javascript" src="/js/springyui.js")

  link(href="/styles/css/bootstrap.min.css" rel="stylesheet")
  //- link(href="/styles/css/bootstrap-theme.css" rel="stylesheet")
  //- link(href="/styles/css/googleTheme.css" rel="stylesheet")
  //- link(href="/styles/css/bootstrap-slate.min.css" rel="stylesheet")
  link(href="/styles/css/font-awesome.min.css" rel="stylesheet")
  link(href="/styles/css/iconic.min.css" rel="stylesheet")
  //- link(href="/styles/css/sidr.css"  rel="stylesheet")
  link(href="/styles/css/buttons.css"  rel="stylesheet")
  link(href="/styles/css/animate.css" rel="stylesheet")
  link(href="/styles/css/viz.css"  rel="stylesheet")
  link(href="/styles/css/zooid.css" rel="stylesheet")

            
body#fileUpload
  
  .hide
  form(action="signal/upload", target="signal/upload", style="margin-top:0px;padding-top:0px;display:none;")
      input(type="file", name="file" )
        
  #previews
    #template
      .killMe
        img(style="text-align:center;width:80px;", data-dz-thumbnail='data-dz-thumbnail', data-dz-remove='data-dz-remove')
        .btn.btn-sm.text-muted.delete(data-dz-remove='data-dz-remove').button-link
          fa.fa.fa-fw.fa-trash
          i.glyphicon.glyphicon-trash.text-muted
        #total-progress
        .progress(style="height:5px;", role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
          .progress-bar.progress-bar-default(style='width: 0%;', data-dz-uploadprogress='data-dz-uploadprogress')
          
        div(style="display:none!important;")
          
          button.button.button-primary.start.hide
            i.glyphicon.glyphicon-upload
            span Start
          button.button.button-warning.cancel(data-dz-remove='data-dz-remove').hide
            i.glyphicon.glyphicon-ban-circle
            span Cancel

  block body

