head

  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes')

  script(type="text/javascript" src="js/jquery.js")
  //- script(type="text/javascript" src="js/jquery_ui.js")
  script(type="text/javascript" src="js/dropzone.js")
  script(type="text/javascript" src="js/HighCharts.js")
  //- script(type="text/javascript" src="js/jmpress.js")
  script(type="text/javascript" src="js/buttons.js")
  script(type="text/javascript" src="js/socket.io.js")
  script(type="text/javascript" src="js/sails.io.js")
  //- script(type="text/javascript" src="js/isotope.js")
  //- script(type="text/javascript" src="js/Chart.min.js")
  script(type="text/javascript" src="styles/js/bootstrap.min.js")
  //- script(type="text/javascript" src="js/sidr.js")
  script(type="text/javascript" src="js/vivagraph.js")
  script(type="text/javascript" src="js/vis.js")
  script(type="text/javascript" src="js/app.js")
  //- script(type="text/javascript" src="js/springy.js")
  //- script(type="text/javascript" src="js/springyui.js")

  link(href="styles/css/bootstrap.min.css" rel="stylesheet")
  //- link(href="styles/css/bootstrap-theme.css" rel="stylesheet")
  //- link(href="styles/css/googleTheme.css" rel="stylesheet")
  //- link(href="styles/css/bootstrap-slate.min.css" rel="stylesheet")
  link(href="styles/css/font-awesome.min.css" rel="stylesheet")
  link(href="styles/css/iconic.min.css" rel="stylesheet")
  //- link(href="styles/css/sidr.css"  rel="stylesheet")
  link(href="styles/css/buttons.css"  rel="stylesheet")
  link(href="styles/css/animate.css" rel="stylesheet")
  link(href="styles/css/viz.css"  rel="stylesheet")
  link(href="styles/css/zooid.css" rel="stylesheet")

  
body

  block body
