doctype html
meta(name="apple-mobile-web-app-capable", content="yes")
html.fullH
   head
      title cgi
      //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css')
      //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
      script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')


      //- link(rel="stylesheet", href="/styles/css/bootstrap-switch.min.css")
      link(rel="stylesheet", href="/styles/css/bootstrap.css")
      //- link(rel="stylesheet", href="/styles/css/bootstraptheme.css")
      //- link(rel="stylesheet", href="/styles/css/dropzone.css")
      //- link(rel="stylesheet", href="/styles/css/googleTheme.css")
      //- link(rel="stylesheet", href="/styles/css/theme.css")
      link(rel="stylesheet", href="/styles/css/style.css")
      link(rel="stylesheet", href="/styles/css/chosen.css")
      link(rel="stylesheet", href="/styles/css/animate.css")


      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
      script(src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js")

      script(src="//layout.jquery-dev.net/lib/js/jquery.layout-latest.min.js")



      link(rel="stylesheet", href="http://ol3js.org/en/master/css/ol.css", type="text/css")
      script(src="//ol3js.org/en/master/build/ol.js", type="text/javascript")
      script(src="//layout.jquery-dev.net/lib/js/jquery.layout-latest.js", type="text/javascript")
      

      script(type="text/javascript", src="/js/socket.io.js")
      script(type="text/javascript", src="/js/sails.io.js")
      //- script(type="text/javascript", src="/js/app.js")

      script(type="text/javascript", src="/js/HighCharts.js")
      script(type="text/javascript", src="/js/bootstrap.js")
      script(type="text/javascript", src="/js/dropzone.js")
      script(type="text/javascript", src="/js/chosen.js")
      script(type="text/javascript", src="/js/preloadjs-0.4.1.min.js")

      script(type="text/javascript", src="/js/bootstrap-switch.min.js")



      
      script(type="text/javascript", src="/js/drawing/squiggles.js")

      script(type="text/javascript", src='/js/drawing/scissors/scissors.js')
      script(type="text/javascript", src='/js/drawing/scissors/scissorsLines.js')
      script(type="text/javascript", src='/js/drawing/scissors/scissorsClient.js')
      script(type="text/javascript", src='/js/drawing/scissors/scissorsWorker.js')
      script(type="text/javascript", src='/js/drawing/scissors/utils.js')
      script(type="text/javascript", src='/js/drawing/scissors/maskDrawing.js')
      //- script(type="text/javascript", src='/js/drawing/scissors/scissors-bak.js')
      script(type="text/javascript", src='/js/drawing/scissors/scissors_extended.js')
      script(type="text/javascript", src='/js/drawing/scissors/init.js')
      script(type="text/javascript", src="/js/drawing/tween.js")




      // TEMPLATES
      
      // TEMPLATES END




      //- link(rel="stylesheet", href="/styles/bootstrap.css")
      //- link(rel="stylesheet", href="/styles/bootstraptheme.css")
      //- link(rel="stylesheet", href="/styles/dropzone.css")
      //- link(rel="stylesheet", href="/styles/style.css")
      //- link(rel="stylesheet", href="/styles/theme.css")

      //- script(type="text/javascript", src="/js/socket.io.js")
      //- script(type="text/javascript", src="/js/sails.io.js")
      //- script(type="text/javascript", src="/js/HighCharts.js")
      //- script(type="text/javascript", src="/js/bootstrap.min.js")
      script(type="text/javascript", src="/js/dropzone.js")
      //- script(type="text/javascript", src="/js/preloadjs-0.4.1.min.js")
      //- script(type="text/javascript", src="/js/app.js")




      //- script(src='/js/smooth.js')
      //- script(src='/js/squiggles.js')



      //- //- script(src='/js/ladda/ladda.min.js')
      //- //- script(src='/js/ladda/spin.min.js')
      
      //- script(src='/js/rotation.js')
      //- script(src='/js/highcharts.js')
      //- script(src='/js/drawing/smooth.js')
      //- script(src='/js/drawing/squiggles.js')

      //- //- scissors drawing
      //- script(src='/js/drawing/scissors/scissorsLines.js')
      //- script(src='/js/drawing/scissors/scissorsClient.js')
      //- script(src='/js/drawing/scissors/scissorsWorker.js')
      //- script(src='/js/drawing/scissors/utils.js')
      //- script(src='/js/drawing/scissors/maskDrawing.js')
      //- //- script(src='/js/drawing/scissors/scissors-bak.js')
      //- script(src='/js/drawing/scissors/init.js')
      
      //- script(src='/js/drawing/scissors/scissors_extended.js')



      block content


noscript Please enable JavaScript and refresh this page
page