block content
.navbar.navbar-inverse.navbar-static-top
  .navbar-header
    a.navbar-brand(href='../') Visual Media Reasoning:
      small Terrain Geolocation
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  #navbar-main.navbar-collapse.collapse
     ul.nav.navbar-nav.navbar-right
       li
         a(href='uploads')
           i.fa.fa-fw.fa-picture-o
           | UPLOAD IMAGES
       li
         a(href='trace')
           i.fa.fa-fw.fa-pencil
           | TRACE TERRAIN

