block content
   body(onload="loaded()").nopadv
   
   .col-sm-12.nopadv
      .row
        #canvasWrapper
          #container
            img#scissors_img(src="/images/diverse.jpg", data-id=0, style="position:relative;")
            span.status
            output#output

   //- script(src='//cdn.techpines.io/jquery.event.drag-2.0.js')
   //- script(src='js/drawingCanvas.js')
   //- script(src='/js/GeoExt/GeoExt.js')

   //- testing graphs 
   //- script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
   //- script(src='http://cdn.oesmith.co.uk/morris-0.4.3.min.js')




