@import url("http://fonts.googleapis.com/css?family=Hind:400,300,500,600,700' rel='stylesheet' type='text/css'");
@import url("http://fonts.googleapis.com/css?family=PT+Sans|Reenie+Beanie");
@import url("http://fonts.googleapis.com/css?family=Averia+Serif+Libre");
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,200");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800' rel='stylesheet' type='text/css'");

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color:#fcfcfc;
}
svg{
  /*font-family: 'Reenie Beanie', sans-serif;*/
  background-color:rgba(25,235,255,0.04);
  width:100%!important;
  height:100%!important;
}
#eq > span {
height:120px; float:left; margin:15px
}
.slide{
  margin-bottom:10px;
  margin-top:5px;
  }
.text-black{
  text-decoration:none!important;
  font-weight: 600;
}




/*---------------*/
/***** Chico *****/
/*---------------*/

img {
  opacity: 0.65;
  border:1px solid #d2d2d2;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.15s;
  transition: opacity 0.35s, transform 0.15s;
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-bottom:3px;
}

img:hover{
  opacity: 1;
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
  z-index:100;
}




.status{
  opacity:0.5;
}

.nav-pills li a{
  padding:5px;
  color:#666;
  padding-top:6px;
  padding-left:6px;
}
.nav-pills li a:hover{
  color:#800;
  background-color: #e7e7e7;
}

.nav-pills li.active a{
  background-color:#00619B!important;
  color:white!important;
}

.nav-stacked-sm {
  margin-top:0px;
  padding-top:12px;
  padding-bottom:12px;

}
.nav-stacked-sm li a{
  padding:6px;
  padding-left:22px;
  font-size:13px;
}

.boxShadow{
  border:1px solid #d2d2d2;
  -webkit-box-shadow: 3px 2px 12px -2px rgba(1, 1, 1, 0.1);
  -moz-box-shadow:    3px 2px 12px -2px rgba(1, 1, 1, 0.1);
  box-shadow:         3px 2px 12px -2px rgba(1, 1, 1, 0.1);
}

.transparent{
  background:rgba(255,255,255.0.2);
}

.navbar{
  letter-spacing: 0.4;
  font-family: 'Helvetica Neue', Helvetica, Times New Roman, times-roman, georgia, serif;
  font-weight:400;
  border-bottom:1px solid #dddddf!important;
}

.navbar-brand{
  color:#484848!important;
  font-weight:500;
  letter-spacing:-0.2px;
  text-shadow:0px -1px 1px #fff!important;
  margin-left:8px;
}

.navbar-brand:hover{
  color:#314!important;
}


.brand-color{
  /*font-family: "Averia Serif Libre";*/
  font-family: 'Helvetica Neue', Helvetica, Times New Roman, times-roman, georgia, serif;
  background: -webkit-linear-gradient(#119AE7,#002147);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button{
  letter-spacing:0.4!important;
}
clear{
  opacity:0;
}

.text-black{
  color:black;
}

.btn.square, .button.square {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;

  font-size:15px;
  -moz-border-radius: 0px 0px 0px 0px!important;
  -webkit-border-radius: 0px 0px 0px 0px!important;
}

/*.square *{
  position: relative;
  top: 40%;
  transform: translateY(-50%);

}*/

.signalText{
  font-family: 'Helvetica Neue', Helvetica, Times New Roman, times-roman, georgia, serif;
  color:#666;
}


.signalName{
  font-weight: 600;
  color:#447;
  padding-left:16px;
}


.brand h11 {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;
  color:#314!important;
  font-size:38px;
  font-weight:200;
  /*text-shadow:1px -1px 2px #!important;*/
  background: -webkit-linear-gradient(#00619B, #08344E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.brand .zooid-title{
  font-size:72!important;
  line-height:82px;
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;

}

.zooid-montra{
  font-size:19px;
  letter-spacing: 0;
  line-height:46px;
  font-family: "Open Sans", sans;
  background: -webkit-linear-gradient(#121212, #666666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.docs h1 {
  color:#11112f!important;
  font-size:32;
  font-weight:700;  
  letter-spacing: -1;
  line-height:46px;
  border-bottom:1px solid #ddd;
}

.docs .mega {
  font-size:47;
  font-weight:200;  
  text-shadow:0px -1px 1px white;
  line-height:56px;
  border:none;

}
.docs {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;
}
.docs p {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;
  font-size:16;
}
.docs p.lead {
  font-size:22;
}

.docs h2 {
  color:#314!important;
  font-size:20px;
  font-weight:700;  
  letter-spacing: 0;
  line-height: 24px;
  background: -webkit-linear-gradient(#00619B, #121212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.docs h3 {
  color:#314!important;
  font-size:16px;
  font-weight:600;  
  line-height: 16px;
  background: -webkit-linear-gradient(#08344E, #00619B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.brand .big {
  color:#314!important;
  font-size:42px;
  font-weight:300;
  letter-spacing: 0;
  background: -webkit-linear-gradient(#00619B, #08344E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}

.brand .h12 {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;
  color:#88888b!important;
  font-size:34px;
  font-weight:300;
  /*text-shadow:1px -1px 2px #!important;*/


}

.brand .title {
  font-family: 'Helvetica Neue', times, Times New Roman, times-roman, georgia, serif;
  color:#224!important;
  font-size:38px;
  font-weight:100!important;
  text-shadow:1px -1px 2px #ffffff!important;


}

.brand a {
  color:#314!important;
  /*text-shadow:1px -1px 2px #!important;*/

}


.navbar-nav li a{
  color:#666668;
}

.darkBlue{
  background-color:#00619B!important;
  color:#e2fff2;
}
.lightBlue{
  background-color:#08344E!important;
  color:white;
  letter-spacing:1;
}

.veryLightBlue{
  color:white;
  background-color:#5A64B4!important;
}

.darkRed{
  color:white;
  background-color: #91410c;
}

.lightRed{
  color:white;
  background-color: #BF331D;
}


ul.nav.navbar-nav li a:hover{
  background-color:#f2f2f2;
}
ul.nav.navbar-nav li.active a{
  background-color:#f2f2f2;
  color:#002!important;
}
.navbar-special{
  background-color: rgba(255,255,255,0.95);
}

.navbar-inverse {
  background-color: #ffffff;
  border-color: #3f82c7;
}
.navbar-inverse .navbar-brand {
  color: #6392a7;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #83a2d7;
}
.navbar-inverse .navbar-text {
  color: #6392a7;
}
.navbar-inverse .navbar-nav > li > a {
  color: #6392a7;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #83a2d7;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #64329f;
  background-color: #fefefe;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #64329f;
  background-color: #fefefe;
}
.navbar-inverse .navbar-toggle {
  border-color: #fefefe;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #fefefe;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fefefe;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #6392a7;
}
.navbar-inverse .navbar-link {
  color: #6392a7;
}
.navbar-inverse .navbar-link:hover {
  color: #64329f;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #6392a7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eaf2ff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eaf2ff;
    background-color: #3f82c7;
  }
}

.jumbotron{
  margin-bottom: 6px;
  color: #bbeeff;
  letter-spacing: 2;
}
.jumbotron b{
  letter-spacing: 1;
  color: #fafffa;
  font-weight: 100;
}
.jumbotron .big{
  font-size:42px;
}
.jumbotron h1{
  font-size:62px;
  font-weight:100!important;
  font-family: 'Neue Helvetica', sans-serif;

}

.lead{
  font-family: 'Neue Helvetica', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
}

.button{
  cursor:pointer;
}

scootRight, .scootRight{
  margin-left:12px;
}
.scootRightLess{
  margin-left:4px;

}
scootLeft, .scootLeft{
  margin-right:12px;
}

a.vr{
  padding:1px;
}

.signal_HEAD {
  display:inline-block;
  padding:8px;
  vertical-align: top;
  padding-top:12px;
  margin:4px;
  margin-top:0px;
  margin-bottom:6px;
  background-color:#fcfcfc;
  border:1px solid #e2e2e2;
  -webkit-box-shadow: 3px 2px 12px -2px rgba(1, 1, 1, 0.1);
  -moz-box-shadow:    3px 2px 12px -2px rgba(1, 1, 1, 0.1);
  box-shadow:         3px 2px 12px -2px rgba(1, 1, 1, 0.1);

}
.signal_HEAD *{
}

.signal img{
  -webkit-transition:all 0.2s ease; /* For Safari 3.1 to 6.0 */
  transition: all 0.2s ease;
}

.zood {
  width:33px!important;
  height:auto;
}

.signal_HEAD img  {
  -webkit-transition:all 0.28s ease; /* For Safari 3.1 to 6.0 */
  transition: all 0.28s ease;
  width:160px;
  height:auto;
}

.signal_HEAD .signal {
  margin-bottom:3px;
  display:block;
}

.sigStack .sigStack img  {
  -webkit-transition:all 0.28s ease; /* For Safari 3.1 to 6.0 */
  transition: all 0.28s ease;
  width:24px;
  height:auto;
}


.signal{

/*-webkit-box-shadow: inset -1px -1px 11px 0px rgba(0, 0, 8, 0.56);
-moz-box-shadow:    inset -1px -1px 11px 0px rgba(0, 0, 8, 0.56);
box-shadow:         inset -1px -1px 11px 0px rgba(0, 0, 8, 0.56);*/
/*   -webkit-filter: blur(0px)!important;
  -moz-filter: blur(0px)!important;
  -o-filter: blur(0px)!important;
  -ms-filter: blur(0px)!important;
  filter: blur(0px)!important;*/



}


.bigSignal, .sigStack .bigSignal{
  width:100%!important;
  height:auto!important;
}


hr{
  border-color:#ddd;
}

.sigStack .signal{
  padding:1px;
  padding-bottom:3px;
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/

}


.sigStack{
}

.sigStack .sigStack *{
  display:inline;
  margin-left:4px;
}


.sigStack .sigStack .sigStack img {
  max-width:50%;
}

.sigStack{
}



.panel, .signal_HEAD, input, .well, .navbar, ul.nav-pills *, .nav-pills li.active, .active {
  -moz-border-radius: 0px 0px 0px 0px!important;
  -webkit-border-radius: 0px 0px 0px 0px!important;
}

#zodesTable input, #signalsTable input{
  border:1px solid #ddd!important;
}

#zodesTable, #signalsTable{
  border-bottom:1px solid #ccc!important;
}
th{
  border-bottom:1px solid #ccc!important;
  font-weight: 300!important;
  color:#aaa!important;
}

.dz-image-preview{
  background:rgba(0,0,0,0.5);
}